<%- contentFor( 'body') %>

<div class="jumbotron">
    <h2>Usuários Cadastrados</h2>
    <p>Lista de usuários Cadastrados no sistema.</p>            
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Email</th>
            <th>Idade</th>
            <th>Altura</th>
            <th>Vota?</th>
            <th>Ação</th>
        </tr>
        </thead>
        <tbody>

            <% for(let index=0;index<users.length;index++){ %>
                <tr>
                    
                <td><%= users[index].name %></td>
                <td><%= users[index].email %></td>
                <td><%= users[index].address%></td>
                <td><%= users[index].age %></td>
                <td><%= users[index].height %></td>
                <td><%= users[index].vote %></td>
                <td><a href="X"><i class="fas fa-pen"></i></a></td>
                <td><a href="X"><i class="fas fa-trash-alt"></i></a></td>

                </tr>
            <% } %>
        </tbody>
    </table>
</div>